<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>

<body background="{{ url_for('static', filename='img/fundo2.png') }}">
    <div class="c">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Unes">

        <a href="contato" alt="Contatos" target="_self">Contato</a>
        <span> | </span>
        <a href="quem-somos" alt="Quem somos" target="_self">Quem somos</a>
        <span> | </span>
        <a href="/" alt="index" target="_self">Home</a>
    </div>
    <div>
        <h1>Entre em contato</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex quaerat
            ratione aut reiciendis.</p>
    </div>

    <hr style="width:68%">

    <div>
    <form>
        Seu e-mail:<br>
        <input type="text" name="e-mail"> <br>

        Assunto:<br>
        <input type="text" name="assunto"> <br>

        Descrição:<br>
        <input type="text" name="descrição"><br>

        <input type="submit" value="Enviar">
    </form>
    </div>

    <div class="direitos">
        <h4>Todos os direitos reservados</h4>
    </div>
</body>

</html>
