<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body background="{{ url_for('static', filename='img/fundo.png')}}">
    <div class="a">
        <img src="{{ url_for('static', filename='img/logo.png')}}" alt="Logo Unes">

        <a href="contato" alt="Contatos" target="_self">Contato</a>
        <span> | </span>
        <a href="quem-somos" alt="Quem somos" target="_self">Quem somos</a>
        <span> | </span>
        <a href="/" alt="index.html" target="_self">Home</a>
        <!-- <img  src="img/logo.png" alt="Logo Unes">
            <nav class="link">
                <a href="index.html">Home</a>
                <a href="quem-somos.html">Quem somos</a>
                <a href="contato.html">Contato</a>
            </nav>--->
    </div>
    <div>
         <img src="{{ url_for('static', filename='img/capa.png')}}" alt="capa" style="float: center;">
        <!--        <img src="img/fundo.png" alt="fundo">
        <img src="img/fundo2.png" alt="fundo2"> --->
    </div>
    <div>
        <h1>Sobre a universidade</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex quaerat ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in repudiandae.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex quaerat ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in repudiandae.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex quaerat ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in repudiandae.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex quaerat ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in repudiandae.</p>
    </div>
    <div class="direitos">
        <h4>Todos os direitos reservados</h4>
    </div>
</body>
</html>
